$dark-background: #1B1E26;
$secondary-background-color: #2B2E38;
$highlight-day: #F5A623;
$highlight-hour: #7ED321;
$hour-background: #2C3E50;
$button-background: #3d4353;
$white: #FFFFFF;

$general-radius: 5px;
$general-transition: .2s all;